
/* // Small */
@media (max-width: 576px) {

    .about-me{
        padding-top: 10px;
    }
    .box{
        height: 200px;
        width: 200px;
    }
    .box i{
        padding: 20px;
    }
    .box-back{
        display: none;
    }
    .phone{
        display: none;
    }
    .email{
        display: none;
    }
    .address{
        display: none;
    }
    .contact span{
        display: flex;
        margin: 30px;
    }
    .flip-card{
        height: 150px;
    }
    .flip-card-back{
        width: 150px;
        height: 150px;
    }
    .flip-card-back p{
    font-size: 10px;
    }

}
/* // Medium */
@media (max-width: 768px) {
}
/* // Large  */
@media (max-width: 990px) {
    .item1, .item4 {
        display: none;
    }
    .grid-container {
        max-width: 100%;
        align-content: center;
    }
    .my-progress{
        display: none;
    }
    .slider img{
        width: 80%;
        /* padding-left: 10px; */
    }
    .my-info {
        font-weight: 80%;
    }
    .phone{
        display: none;
    }
    .email{
        display: none;
    }
    .address{
        display: none;
    }
    .contact span{
        display: flex;
        justify-content: space-between;
        margin: 30px; 
    }
  

    .flip-card{
        width: 200px;
    }
    .flip-card-back{
        width: 200px;
    }
    .feedback{
        width: auto;
        height: 500px;
    }
    .feedback span{
        display: none;
    }
    .project-side-bar{
        display: flex;
        width: auto;
    }
    .objects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-projects{
        display: block;
    }
    .box{
        float: none;
    }
    .box-back{
        float: none;
    }
    .articles-body img{
        display: none;
    }
    .articles-text{
        width: 80%;
        margin-bottom: 15px;
    }
    .articles-section{
        margin-bottom: 10px;
    }
    .mainBlock {
        flex-wrap: wrap;
    }
}