/* // Small */
@media (max-width: 576px) {
    .container{
        max-width: 570px;
        width: 100%;
    }
    .about-me{
        padding-top: 10px;
    }
    .box{
        height: 200px;
        width: 200px;
    }
    .box i{
        padding: 20px;
    }
    .box-back{
        display: none;
    }
    .phone{
        display: none;
    }
    .email{
        display: none;
    }
    .address{
        display: none;
    }
    .contact span{
        display: flex;
        margin: 20px;
    }
    .flip-card{
        width: 120px;
        height: 150px;
    }
    .flip-card-back{
        width: 120px;
        height: 150px;
    }
    .flip-card-back p{
        font-size: 10px;
    }
    .feedback-slider p{
        max-width: 330px;
        margin-right: 10px;
    }
    .feedback-dots{
        margin: 5px;
    }
    .project-side-bar{
        flex-wrap: wrap;
    }
    .partnerBlock:hover,
    .partnerBlock:active {
        width: 100px;
        height: 100px;
    }
    .mainBlockText span {
        color: #626262;
        font-family: "Roboto-Light";
        font-size: 8px;
    }
    .articles-date span{
        font-size: 15px
    }
    
    #subject{
        width: 290px;
    }
}
/* // Medium */
@media (max-width: 768px) {
    .about-me{
        padding-top: 10px;
    }
    .services{
        margin: 10px 0 10px; 
    }
    .projects{
        padding-top: 40px;
    }
    .articles{
        margin-top: 20px;
    }
    .rosaTeam{
        margin-top: 30px;
    }
    .contact-us{
        margin-top: 30px;
    }
}

/* // Large  */
@media (max-width: 996px) {
    .item1, .item4 {
        display: none;
    }
    .grid-container {
        max-width: 100%;
        align-content: center;
    }
    .my-progress{
        display: none;
    }
    .slider img{
        width: 80%;
        /* padding-left: 10px; */
    }
    .my-info {
        font-weight: 80%;
    }
    .phone{
        display: none;
    }
    .email{
        display: none;
    }
    .address{
        display: none;
    }
    .contact span{
        display: flex;
        justify-content: space-between;
        margin: 30px; 
    }
    .flip-card{
        width: 200px;
    }
    .flip-card-back{
        width: 200px;
    }
    .feedback{
        width: auto;
        height: 500px;
    }
    .feedback span{
        display: none;
    }
    .project-side-bar{
        display: flex;
        max-width: 980px;
        width: 100%;
    }
    .objects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-projects{
        display: block;
    }
    .box{
        float: none;
    }
    .box-back{
        float: none;
    }
    .articles-body img{
        display: none;
    }
    .articles-text{
        width: 80%;
        margin-bottom: 15px;
    }
    .articles-section{
        margin-bottom: 10px;
    }
    .mainBlock {
        flex-wrap: wrap;
    }
}