* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1500px;
    width: 100%;
}
/* first section */
.grid-container {
    margin: 0 auto;
    padding: 0;
    background-color: #DDDDDD;
    display: grid;
    grid-template-areas:
      'headerl header headerr'
      'empty main main'
      'empty footer footerl';
  }
.item1 { 
    grid-area: headerl;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
.item1:hover{
    color: #E93656;
}
.item2 { 
    grid-area: headerr; 
    position: relative;
    width: 230px;
}
.item3 { 
    grid-area: main;
}
.item4{
    grid-area: empty; 
}
.item5 { 
    grid-area: footerl; 
    display: flex;
    justify-content: flex-end;
}
.l-side span{
    font-family: "Poppins-ExtraBold";
    color: #0081FF;
}
.left-t{
    display: inline-block;
    font-family: "Poppins-ExtraBold";
    font-size: 40px;
}
.left-b{
    font-family: "Montserrat-Regular";
    font-size: 13px;
    color: #B3B3B3;
}
.r-side{
    font-family: "Poppins-ExtraBold";
}
.right-t{
    font-size: 158.3px;
}
.right-b{
    color: #373737;
    font-size: 43.17px;
    position: absolute;
    top: 35%;
    transform: translateX(-20px);
    transition: .1s;
}
.right-b:hover{
    color: #E93656;
}
.info {
    height: 450px;
}
.info span {
    display: flex;
    justify-content: space-between;
}
.persona-1 {
    font-family: "Regular";
    font-size: 49.7px;
}
.persona-2 {
    font-family: "Bold";
    font-size: 71px;
}
.persona-2:hover {
    color: #E93656;
}
.persona-3 {
    font-family: "Regular";
    font-size: 23.29px;
}
.percentage {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: #E93656;
}
.satisfication {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: black;
    width: 320px;
}
.satisfication:hover {
    color: #E93656; 
}
.satisfication div {
    height: 6px;
    max-width: 361px;
    width: 100%;
    margin-top: 10px;
    border-radius: 28px;
    background-color: #E93656;
    margin-bottom: 47px;
}
.logos {
    padding-top: 30px;
}
.logos a{
    padding: 10px;
}

/* second section*/
.about-me{
    display: flex;
    align-items: center;
    padding-top: 135px;
    margin: 0;
    justify-content: center;
    max-width: 1500px;
}
.my-info{
    width: 350px;
    direction: rtl;
    padding-top: 83px;
    margin: 0;
}
.my-info button{
    padding: 13px 40px 17px 50px;
    font-family: 'Bold';
    font-size: 15px;
    color: white;
    border: none;
    background-color: #E93656;
    cursor: pointer;
}
.my-info h2{
    font-family: 'Bold';
    font-size: 40px;
    padding-bottom: 6px;
    max-width: 311px;
}
.muli{
    font-family: 'Muli';
    font-size: 14px;
    padding-bottom: 33px;
    color: #DAAE19;

}
.my-info p{
    font-family: 'Muli-Regular';
    font-size: 15px;
    padding-bottom: 60px;
}

.slider {
    margin: 0;
    padding-left: 60px;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #15263E;
}
.line {
    height: 6px;
    max-width: 302px;
    width: 100%;
    margin-top: 10px;
    border-radius: 28px;
    background-color: #E93656;
}
.line:hover{
    height: 6px;
    max-width: 361px;
    width: 100%;
}

/* progress bar */
.my-progress {
    margin: 0;
    padding-left: 70px;
}
.my-progress-charts{
    width: 300px;
    height: 200px;
}
.progresive{
    width: 100%;
    height: 10px;
    background-color: #F0F0F0;
}
.progress-percent{
    margin: 0;
    height: 100%;
    margin-top: 10px;
    background-color:#E93656;
    opacity: 0;
    transition: .6s;
}
.chart{
    margin-bottom: 10px;
}
h3{
    font-family: 'Bold';
    font-size: 20px;
    color: #555555;
}
h3 span{
    color:#E93656;
}
.contact {
    display: flex;
    align-items: center;
}
.contact-information{
    display: flex;
    background-color: #131A36;
    height: 210px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.circle{
    height: 90px;
    width: 90px;
    background-color: transparent;
    border-radius: 100%;
    display: inline-block;
    border: 2px dashed red;
    text-align: center;
    padding: 23px;
}
.circle:hover{
    background-color: #E93656;
    border: 2px solid #E93656;
    cursor: pointer;
}
.contact-information h3 {
    font-family: 'Bold';
    color: #FFFFFF;
    font-size: 25px;
    margin: 0;
}
.contact-information span {
    font-family: 'Muli';
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
}   
.contact-information a {
    font-family: 'Muli';
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 30px 0 30px;
}
.address {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding: 0 30px 0 30px;
}
.email {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding: 0 30px 0 30px;
}

/* my skils  */
  .services {
    margin: 203px 0 160px;
    display: flex;
    justify-content: center;
}
.flip-card-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
}
.flip-card {
    width: 285px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 10px;
}

.flip-card-back {
    opacity: 0;
    position: absolute;
    width: 285px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #15263E;
}
.flip-card-back h3 {
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Bold';
    padding-top: 30px;
}
.flip-card-back p {
    margin-top: 19px!important;
    color: #ECECEC;
    text-align: center!important;
    width: 80%;
    font-family: 'Muli';
}
.flip-card h3 {
    padding-top: 30px;
}

.flip-card:hover .flip-card-back,
.flip-card:active .flip-card-back{
    opacity: 1;
}

/* feedback section */
.feedback {
    background-image: url('/images/clip.jpg');
    background: url("/images/clip.jpg"); /*გიტზე არცერთი არ მუშაობს */
    background-color: #76a3e2a1;
    display: flex;
    height: 570px;
    justify-content: center;
    align-items: center;
}
.feedback-slider {
    display: flex;
    align-items: center;
    max-width: 1200px;
}
.feedback-slider p{
    font-family: 'Roboto-Light';
    font-size: 15px;
    color: #FFFFFF;
    max-width: 497px;
    direction: rtl;
    margin-right: 51px;
    height: 79px;
}
.feedback-slider h6{
    font-family: 'Roboto-Regular';
    font-size: 13px;
    color: #E93656;
    padding-bottom: 9px;
}
.feedback-slider h3 {
	font-family: 'Bold';
    font-size: 28px;
    color: #FFFFFF;
}
.feedback-slider i{
    color: white;
    padding-bottom: 38px;
}
.feedback-slider span{
    height: 140px;
    width: 140px;
    border-radius: 100%;
    display: block;
    border: 2px dashed white;
    text-align: center;
    padding: 17px;
    margin-right: 50px;
}
.feedback-content {
    display: block;
}
.feedback-dots{
    cursor: pointer;
    border: 2px solid white;
    height: 15px;
    width: 15px;
    margin: 10px;
}
.feedback-dots:hover {
    border: 2px solid #E93656;
}


/* My projects section */
.projects{
    padding-top: 114px;
}

.my-projects{
    display: flex;
    max-width: 1200px;
    padding-top: 55px;
}

.box {
    float: left;
    position: relative;
    height: 350px;
    width: 300px;
    display: none;
    background-color: #848484;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 10px;
    text-align: center;
}

.box span{
    font-family: 'Bold';
    font-size: 23px;
    color: white;
}

.box i{
    display: block;
    color: white;
    text-align: center;
    padding: 105px 0 17px;
}
.box i:hover{
    color: #E93656;
}

.project-name{
    font-family: 'Bold';
    font-size: 70px;
    color: #2E2E2E;
    text-align: center;
}

.project-side-bar{
    background-color: #15263E;
    color: white;
    width: 240px;
    height: fit-content;
}
.show{
    display: block;
}

.btn{
    display: block;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    background-color: #15263E;
    cursor: pointer;
    color: white;
}

.btn:hover{
    background-color: #E93656;
}


/* back side card flip  */

.box-back{
    opacity: 0;
    position: absolute;
    background-color: #15263E;
    float: left;
    height: 350px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* margin: 0 0 10px 10px; */
    text-align: center;
    margin-top: -67%;

}


.box-back span{
    font-family: 'Bold';
    font-size: 23px;
    color: black;
}

.box-back i{
    display: block;
    color: black;
    text-align: center;
    padding: 105px 0 17px;
}
.box-back work ideas i:hover{
    color: #E93656;
}


.box:hover .box-back,
.box:active .box-back{
    opacity: 1;
}


/* articles - rosa team  */

.rosaTitle span {
    color: #2ED279;
    font-size: 14px;
    font-family: "Bold";
}
.rosaSubTitle h2 {
    color: #262526;
    font-size: 70px;
    font-family: "Bold";
    text-align: center;
}
.rosaTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 57px;
    margin-top: 96px;

}

.mainBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.partnerBlock {
    background-color: #15263E;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    transition: all 1s ease;
}
.mainBlockText {
    visibility: hidden;
    text-align: center;
}
.mainBlockText h3 {
    color: #161616;
    font-family: "Poppins-SemiBold";
    font-size: 16px;
}
.mainBlockText span {
    color: #626262;
    font-family: "Roboto-Light";
    font-size: 13px;
}

.partnerBlock:hover,
.partnerBlock:active {
    transform: scale(2.5, 2);
    border: 3px solid #E93656;
    background-color: white;
    width: 140px;
    height: 140px;
}
.partnerBlock:hover .mainBlockText,
.partnerBlock:active .mainBlockText {
    visibility: visible;
    z-index: 1;
}
.partnerBlock i {
    color: white;
    position: absolute;
}

/* contact us form */

.contact-us {
    background-image: url(../images/mapbackground.jpeg);
    background-color: cadetblue;
    background-repeat: no-repeat;
    max-width: 1140px;
    width: auto;
    text-align: center;
    margin-top: 195px;
}
.contact-us-mainTitle h3{
    font-family: 'Jaapokki';
    color: white;
    font-size: 45px;
    padding: 12px;
    padding-top: 152px;
}
.contact-us-mainTitle span{
    font-family: 'Roboto-Light';
    color: white;
    font-size: 17px;
}
.contact-us-mainTitle{
    margin-bottom: 46px;
}
input[type=text], select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
}
input[type=submit] {
    background-color: transparent;
    color: #E93656;
    padding: 12px 20px;
    border: 2px solid #E93656;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 120px;
    margin-top: 30px;
}
input[type=submit]:hover {
  background-color: #E93656;
  color: white;
}
textarea{
    display: block;
    width: 500px;
}
